@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: 'Charm';
    src: url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
  }
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* scrollbar */
/* width */
body::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #bfdbfe;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #bfdbfe;
  border-radius: 5px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #c084fc;
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}

/* Loader */
#nprogress {
  pointer-events: none;
}
/* #nprogress .bar {
  background: dodgerblue;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
} */

#nprogress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.123);
  top: 0;
  left: 0;
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#nprogress .spinner-icon {
  width: 32px;
  height: 32px;
  box-sizing: border-box;

  border: solid 3px transparent;
  border-top-color: #a855f7;
  border-left-color: #a855f7;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.bg-image {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1600' preserveAspectRatio='none' viewBox='0 0 800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='800' height='1600' x='0' y='0' fill='rgba(244%2c 234%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c587.336C108.286%2c575.967%2c193.889%2c502.767%2c288.671%2c449.181C389.831%2c391.989%2c512.635%2c360.709%2c574.667%2c262.442C639.527%2c159.694%2c629.788%2c31.02%2c629.341%2c-90.486C628.829%2c-229.673%2c667.413%2c-394.311%2c571.878%2c-495.535C476.003%2c-597.12%2c305.01%2c-543.317%2c169.6%2c-577.606C41.031%2c-610.162%2c-72.95%2c-717.168%2c-203.125%2c-691.782C-335.506%2c-665.966%2c-424.296%2c-546.118%2c-512.973%2c-444.493C-601.924%2c-342.553%2c-721.263%2c-238.285%2c-716.83%2c-103.065C-712.397%2c32.148%2c-562.831%2c109.582%2c-491.048%2c224.254C-431.216%2c319.835%2c-421.114%2c447.14%2c-330.444%2c514.181C-237.858%2c582.64%2c-114.518%2c599.359%2c0%2c587.336' fill='%23c188ff'%3e%3c/path%3e%3cpath d='M800 2101.216C911.63 2113.174 1032.042 2168.392 1129.771 2113.134 1227.738 2057.741 1258.164 1931.782 1290.376 1823.9470000000001 1319.284 1727.172 1317.359 1627.638 1304.731 1527.431 1291.901 1425.621 1286.965 1313.708 1216.654 1238.967 1147.0140000000001 1164.939 1031.241 1172.079 936.3050000000001 1135.788 830.921 1095.503 739.794 999.421 627.907 1013.907 513.304 1028.7440000000001 434.557 1131.0059999999999 351.628 1211.484 261.374 1299.07 154.788 1380.855 124.101 1502.82 92.26400000000001 1629.356 107.15099999999995 1775.599 182.976 1881.786 255.89700000000005 1983.906 394.479 2004.989 512.7080000000001 2047.035 606.425 2080.363 701.099 2090.622 800 2101.216' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1600' preserveAspectRatio='none' viewBox='0 0 800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1112%26quot%3b)' fill='none'%3e%3crect width='800' height='1600' x='0' y='0' fill='rgba(244%2c 225%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c513.87C94.655%2c500.522%2c134.536%2c385.699%2c211.037%2c328.38C280.002%2c276.708%2c380.871%2c267.943%2c426.116%2c194.601C472.799%2c118.929%2c477.603%2c20.431%2c453.878%2c-65.258C431.348%2c-146.632%2c357.253%2c-197.88%2c300.215%2c-260.137C244.932%2c-320.478%2c202.29%2c-398.655%2c124.67%2c-424.587C46.16%2c-450.817%2c-40.352%2c-430.036%2c-117.345%2c-399.64C-189.917%2c-370.989%2c-246.387%2c-316.735%2c-297.606%2c-257.877C-348.919%2c-198.911%2c-402.267%2c-136.808%2c-413.396%2c-59.437C-424.525%2c17.936%2c-384.292%2c89.902%2c-358.23%2c163.598C-329.52%2c244.782%2c-314.672%2c333.632%2c-253.102%2c393.834C-184.959%2c460.464%2c-94.371%2c527.178%2c0%2c513.87' fill='%23ebc9ff'%3e%3c/path%3e%3cpath d='M800 2076.662C887.315 2068.23 956.114 2003.0230000000001 1021.24 1944.2559999999999 1078.089 1892.9569999999999 1117.564 1829.191 1150.732 1760.174 1184.51 1689.888 1221.925 1617.982 1215.387 1540.276 1208.671 1460.456 1152.5520000000001 1398.024 1114.336 1327.626 1064.6100000000001 1236.027 1053.744 1103.906 957.191 1064.6570000000002 862.109 1026.0059999999999 764.446 1114.681 666.58 1145.613 571.124 1175.783 463.636 1177.068 389.318 1244.142 311.108 1314.729 263.994 1416.51 250.63800000000003 1521.014 237.389 1624.675 259.38800000000003 1733.114 315.562 1821.2359999999999 368.294 1903.9569999999999 462.705 1944.062 549.481 1989.816 629.277 2031.8899999999999 710.2090000000001 2085.333 800 2076.662' fill='%23fdf9ff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1112'%3e%3crect width='800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1600' preserveAspectRatio='none' viewBox='0 0 800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='800' height='1600' x='0' y='0' fill='rgba(218%2c 198%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c550.793C102.434%2c551.577%2c145.146%2c414.677%2c226.451%2c352.364C298.731%2c296.968%2c406.51%2c285.489%2c450.328%2c205.658C494.733%2c124.757%2c478.387%2c23.948%2c455.827%2c-65.538C434.779%2c-149.025%2c377.654%2c-213.73%2c327.037%2c-283.379C271.43%2c-359.895%2c236.004%2c-468.049%2c144.878%2c-493.407C53.717%2c-518.774%2c-33.758%2c-447.27%2c-119.71%2c-407.695C-193.752%2c-373.604%2c-257.64%2c-329.213%2c-321.567%2c-278.64C-400.329%2c-216.331%2c-526.146%2c-177.061%2c-537.392%2c-77.265C-548.721%2c23.27%2c-432.024%2c88.412%2c-372.117%2c169.94C-325.345%2c233.593%2c-279.436%2c292.417%2c-224.234%2c348.915C-152.494%2c422.339%2c-102.65%2c550.008%2c0%2c550.793' fill='%23cbafff'%3e%3c/path%3e%3cpath d='M800 2066.672C885.776 2072.072 956.379 1999.659 1019.044 1940.839 1073.787 1889.454 1096.616 1817.59 1134.451 1752.739 1177.305 1679.285 1260.058 1619.366 1256.159 1534.414 1252.247 1449.163 1168.437 1393.596 1114.9180000000001 1327.122 1059.183 1257.896 1017.451 1172.367 936.014 1136.778 850.469 1099.394 740.89 1079.592 661.723 1129.071 581.979 1178.91 600.764 1303.527 546.419 1380.271 500.1 1445.681 384.714 1459.3319999999999 371.838 1538.44 359.008 1617.267 446.25 1674.317 487.422 1742.75 523.2239999999999 1802.258 549.766 1864.359 597.99 1914.333 657.764 1976.276 714.0889999999999 2061.264 800 2066.672' fill='%23e9ddff'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

  /* background-repeat: no-repeat; */
  background-size: cover;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1600' preserveAspectRatio='none' viewBox='0 0 800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1190%26quot%3b)' fill='none'%3e%3crect width='800' height='1600' x='0' y='0' fill='rgba(222%2c 214%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c350.615C70.345%2c343.403%2c146.371%2c358.55%2c205.555%2c319.85C264.598%2c281.243%2c287.97%2c209.042%2c315.708%2c144.179C342.817%2c80.785%2c358.273%2c16.196%2c364.762%2c-52.445C373.038%2c-139.989%2c412.036%2c-240.907%2c358.722%2c-310.835C305.787%2c-380.265%2c199.622%2c-377.029%2c112.537%2c-383.267C38.864%2c-388.544%2c-28.56%2c-358.496%2c-100.937%2c-343.758C-181.435%2c-327.366%2c-279.894%2c-351.093%2c-336.733%2c-291.781C-393.464%2c-232.581%2c-379.847%2c-136.361%2c-378.244%2c-54.383C-376.845%2c17.148%2c-351.289%2c82.155%2c-328.098%2c149.837C-302.227%2c225.342%2c-302.632%2c323.312%2c-234.553%2c364.972C-166.358%2c406.703%2c-79.533%2c358.769%2c0%2c350.615' fill='%23b8a7ff'%3e%3c/path%3e%3cpath d='M800 1973.191C868.899 1972.692 916.657 1907.768 979.169 1878.7930000000001 1054.784 1843.744 1164.0529999999999 1857.4859999999999 1205.5529999999999 1785.21 1246.3890000000001 1714.09 1182.109 1627.912 1169.7730000000001 1546.835 1157.566 1466.605 1175.806 1380.295 1133.417 1311.093 1088.011 1236.965 1013 1182.998 930.371 1155.997 846.4110000000001 1128.561 754.0889999999999 1130.564 670.78 1159.916 589.833 1188.436 530.004 1252.489 473.4 1317 416.48 1381.871 350.615 1448.294 342.368 1534.202 334.221 1619.069 376.865 1702.3029999999999 430.011 1768.968 476.677 1827.505 553.615 1845.222 619.156 1881.399 679.565 1914.743 731.002 1973.69 800 1973.191' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1190'%3e%3crect width='800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='1600' preserveAspectRatio='none' viewBox='0 0 800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1202%26quot%3b)' fill='none'%3e%3crect width='800' height='1600' x='0' y='0' fill='rgba(214%2c 238%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c509.951C93.992%2c516.873%2c166.944%2c434.091%2c246.51%2c383.576C326.557%2c332.755%2c440.968%2c304.474%2c467.172%2c213.35C493.806%2c120.731%2c404.021%2c37.453%2c372.201%2c-53.514C347.565%2c-123.944%2c336.949%2c-195.511%2c301.238%2c-261.024C257.197%2c-341.82%2c226.123%2c-444.805%2c140.517%2c-478.556C54.709%2c-512.387%2c-39.76%2c-461.921%2c-126.117%2c-429.516C-207.032%2c-399.153%2c-290.208%2c-365.63%2c-342.925%2c-297.146C-394.315%2c-230.386%2c-389.506%2c-140.525%2c-411.232%2c-59.126C-436.438%2c35.309%2c-521.57%2c130.742%2c-480.849%2c219.596C-440.117%2c308.473%2c-307.923%2c298.375%2c-224.231%2c348.911C-143.827%2c397.462%2c-93.671%2c503.053%2c0%2c509.951' fill='%23a7dbff'%3e%3c/path%3e%3cpath d='M800 2173.0119999999997C906.891 2173.719 1002.983 2113.135 1088.913 2049.558 1170.683 1989.059 1230.632 1908.2440000000001 1278.884 1818.699 1329.992 1723.855 1381.298 1624.812 1375.7730000000001 1517.216 1369.999 1404.767 1338.216 1279.051 1247.732 1212.038 1158.511 1145.96 1032.702 1197.574 922.81 1181.746 832.87 1168.792 750.2139999999999 1108.912 661.282 1127.568 569.7719999999999 1146.7640000000001 486.453 1205.723 435.325 1284.008 386.774 1358.348 396.875 1452.6100000000001 391.132 1541.214 385.843 1622.814 383.816 1701.795 403.094 1781.261 426.084 1876.028 444.13 1977.25 513.533 2045.752 589.435 2120.668 693.355 2172.307 800 2173.0119999999997' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1202'%3e%3crect width='800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
